<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.0" 
	xmlns="http://java.sun.com/xml/ns/javaee" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" 
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee 
	http://java.sun.com/xml/ns/javaee/web-app_3_0.xsd">
  <display-name></display-name>	
  <welcome-file-list>
    <welcome-file>index.jsp</welcome-file>
  </welcome-file-list>
  <servlet>
  	<servlet-name>pushServlet</servlet-name>
  	<servlet-class>gmcc.bsmonitor.servlet.PushServlet</servlet-class>
  </servlet>
  
  <servlet-mapping>
  	<servlet-name>pushServlet</servlet-name>
  	<url-pattern>/push</url-pattern>
  </servlet-mapping>
  
  <listener>
  	<listener-class>gmcc.bsmonitor.servlet.PushContextListener</listener-class>
  </listener>
</web-app>
